<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768238167223-43fd19f4li6v8uhj8b8rlfd78r3fvoqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768238167223-43fd19f4li6v8uhj8b8rlfd78r3fvoqm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768238167223-43akplm12n0876h3e9tdmb853nkuim4f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQvwm2wX4hl0rRYp_4-bvoXJCJFgWKUOs</string>
	<key>GCM_SENDER_ID</key>
	<string>768238167223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sniffsocial</string>
	<key>PROJECT_ID</key>
	<string>sniffsocial</string>
	<key>STORAGE_BUCKET</key>
	<string>sniffsocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768238167223:ios:a6c6b89fd98702450e9932</string>
</dict>
</plist>